* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkred;
}

#gameTitle {
    padding: .75em;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    display: inline;
}

.infoBar {
    font-size: 18px;
    text-align: center;
    margin: 1.5em;
}

#timeCounter {
    padding-right: 1.5em;
}

#matchesLabel {
    padding-left: 1.5em;    
}

.buttons {
    display: block;
    margin-top: 1em;
    position: absolute;
    left: 46.25%;

    width: 125px;
    height: 55px;
    font-size: 30px;
    font-weight: 550;
    border-radius: 10px;
    text-decoration: none;
}

.buttons:hover {
    background-color: darkgrey;
    transition: 0.5s;
}

.gameBoard {
    width: 650px;
    height: 650px;
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.gameCards {
    width: 150px;
    height: 200px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.gameCards.flip {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: darkred;
    position: absolute;
    backface-visibility: hidden;
}

.cardFront {
    transform: rotateY(180deg);
}